<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <title>Simple searcher</title>
</head>
<body>
    <header>
        <h1>Simple searcher</h1>
    </header>
    <main>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Enter your search query">
            <input type="submit" value="Search">
        </form>

       
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Other</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result._source.iD }}</td>
                    <td>{{ result._source.text }}</td>
                    <td>{{ result._source.created_date }}</td>
                    <!-- Другие поля БД, если необходимо -->
                    <td>Other data</td>
                    <td>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="document_id" value="{{ result._source.iD }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
